// colors
$body-color: #748a9c;
$text-color: #a6b;
$nav-color: #57fca7;
$paragraph-color: #a42;
$black: #000;

// fonts and sizes
$header-font-size: 50px;
$paragraph-font-size: 16px;
$bold: 700;

//spacing
$padding: 20px;
$margin: 20px;

// displays
$align-center: center;
$align-right: right;
$flex: flex;
$inline-flex: inline-flex;
$grow: 1;
