@import './styles/variables';

body {
  background-color: $body-color;
  margin: 0;
  padding: 0;

  h1 {
    color: $text-color;
    font-size: $header-font-size;
    font-weight: $bold;
    text-shadow: 2px 2px 2px $black;
  }

  p {
    color: $paragraph-color;
    font-size: $paragraph-font-size;
  }
}

main {
  padding: $padding;
  text-align: $align-center;

  section {
    border: 2px solid $black;
    margin: $margin;
    padding: $padding;
  }
}

nav {
  background-color: $nav-color;
  padding: 0;
  text-align: $align-right;

  .logo {
    display: $flex;
    height: 50px;
    justify-content: flex-start;
    margin-left: 40px;
  }

  ul {
    display: $flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: $padding;

    li {
      text-align: $align-center;
      width: 100px;

      &:first-child {
        justify-content: flex-start;
      }

      a {
        color: $black;
        font-weight: $bold;
        text-decoration: none;
      }
    }
  }
}
